.col-md-6 {
    padding: 0 0 0 0 !important;
}
.col-md-6 .fa-stack{
    width:auto;
    margin: 0 auto;
}

.overlay-to-circle {
    margin: 0 auto;
    font-size: 10px;
    color: grey;
}

.under-circle{
    margin: 0 auto;
    padding-top: 20%;
    font-size: 6rem;
    font-family: 'Sarabun', sans-serif;
    color: grey;
}

.Clouds, .clouds {
    background-image: url("/images/clouds.jpg");
    background-color: #cccccc;
}
.Drizzle, .drizzle, .Rain, .rain {
    background-image: url("/images/rain.jpg");
    background-color: #cccccc;
}
.Clear, .clear {
    background-color: #aecbf9;
}
.Thunderstorm, .thunderstorm {
    background-color: #aecbf9;
}
.Snow, .snow {
    background-color: #aecbf9;
}
.Atmosphere, .atmosphere {
    background-color: #aecbf9;
}

.tab-content {
    background-color: white;
    width: 120%;
    margin-right: 24%;
    padding-right: 20%;
}