.col-md-6 {
    padding: 40px 0 0 0 !important;
    width:auto;
}
.col-md-6 .fa-stack{
    width:auto;
    margin: 0 auto;
}

.overlay-to-circle {
    margin: 0 auto;
    font-size: 10px;
    color: grey;
}
.overlay-to-circle .on-chart {
    position: relative;
    margin: 0 auto;
    font-size: 5em;
    z-index : 1;
    top: -200px;
}
.overlay-to-circle .on-speed {
    position: relative;
    margin: 0 auto;
    font-size: 5em;
    z-index : 1;
    top: -60px;
}
.adjustPos .budget{
    display: inline-block;
    padding-top: 22px;
    color: rgba(0, 0, 0, 0.91);
}
.adjustPos .invert{
    display: inline-block;
    float: right;
}
.under-circle{
    margin: 0 auto;
    padding-top: 120px;
    font-size: 6rem;
    font-family: 'Sarabun', sans-serif;
    color: grey;
}
.under-speed{
    margin: 0 auto;
    font-size: 6rem;
    font-family: 'Sarabun', sans-serif;
    color: grey;
    position: relative;
    top: -70px;
}

.Clouds, .clouds {
    background-image: url("/images/clouds.jpg");
    background-color: #cccccc;
}
.Drizzle, .drizzle, .Rain, .rain {
    background-image: url("/images/rain.jpg");
    background-color: #cccccc;
}
.Clear, .clear {
    background-color: #aecbf9;
}
.Thunderstorm, .thunderstorm {
    background-color: #aecbf9;
}
.Snow, .snow {
    background-color: #aecbf9;
}
.Atmosphere, .atmosphere {
    background-color: #aecbf9;
}
.my-legend{
    position: absolute;
    z-index: 1;
    float: right;
}
.tab-content {
    background-color: white;
    min-width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -7px;
    width:auto
}