.overlay-to-circle {
    padding-left: 57%;
    padding-top: 5%;
    color: grey;
}

.under-circle{
    padding-top: 25%;
    padding-left: 55%;
    font-size: 4rem;
    font-family: 'Sarabun', sans-serif;
    color: grey;
}